<header>
    <h2>{{project.title}}</h2>
    <div class="close-button-container">
        <button (click)="onClose()"><i class="fa-solid fa-xmark"></i></button>
    </div>
</header>

<section>
    <div class="project-cards">
        <button (click)="scrollLeft()" [disabled]="atStart"><i class="fa fa-arrow-left arrow"></i></button>

        <div class="cards" #cardsContainer>
            @for (screen of currentProject.screens; track screen) {
                <div class="card">
                    <div class="header-container">
                        <h3>{{screen.title}}</h3>
                    </div>
                    <div class="image-container">
                        <img [src]="screen.image" [alt]="screen.title">
                    </div>
                </div>
            }
        </div>
        <button (click)="scrollRight()" [disabled]="atEnd"><i class="fa fa-arrow-right arrow"></i></button>
    </div>

    <div class="description-container">
        <p class="description">
            {{selectedScreen.description}}
        </p>
    </div>

    <div class="buttons">
        <a [href]="currentProject.accessUrl" class="btn">
            <i class="fa-solid fa-link"></i>
            Acessar
        </a>
        <a [href]="currentProject.codeUrl" class="btn">
            <i class="fa-brands fa-github"></i>
            Código
        </a>
    </div>
</section>