<header>
    <h3>{{project.type}}</h3>
    <div class="close-button-container">
        <button (click)="onClose()"><i class="fa-solid fa-xmark"></i></button>
    </div>
</header>

<section>
    <div class="project-cards">
        <button (click)="scrollLeft()" [disabled]="atStart"><i class="fa fa-arrow-left arrow"></i></button>

        <div class="cards" #cardsContainer>
            @for (screen of currentProject.screens; track screen) {
                <div class="card">
                    <div class="header-container">
                        <h3>{{screen.title}}</h3>
                    </div>
                    <div class="image-container">
                        <img [src]="screen.image" [alt]="'Imagem da tela de ' + screen.title" [class.dark-filter]="screen.darkFilter" (click)="openImage(screen.image)">
                    </div>
                </div>
            }
        </div>
        
        <button (click)="scrollRight()" [disabled]="atEnd"><i class="fa fa-arrow-right arrow"></i></button>
    </div>

    <div class="description-container">
        <p class="description">
            {{selectedScreen.description}}
        </p>
        @if (currentProject.observation) {
            <p class="description">
                OBS: {{currentProject.observation}}
            </p>
        }
    </div>

    <div class="buttons">
        <a [href]="currentProject.accessUrl" target="_blank" class="btn-project">
            <i class="fa-solid fa-link"></i>
            Acessar
        </a>
        <a [href]="currentProject.codeUrl" target="_blank" class="btn-project">
            <i class="fa-brands fa-github"></i>
            Código
        </a>
    </div>
</section>

@if (imageModalSrc) {
    <div class="modal-image" (click)="closeImage()" @fadeInZoomUp>
        <div class="modal-image-container">
            <img [src]="imageModalSrc" alt="Imagem ampliada" (click)="$event.stopPropagation()">
            <button class="close-btn" (click)="closeImage()">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
    </div>
}