<section id="about" #aboutSection [@fadeSlideUp]="showAnimation ? 'visible' : 'static'">
    <h2>Sobre</h2>
    <div class="content">
        <div class="about-resume">
            <img src="bruno-oliveira-perfil.jpg" alt="Foto Perfil Bruno Oliveira">
            <div class="name-role">
                <p class="name">&lt;Bruno Oliveira /&gt;</p>
                <p class="role">Desenvolvedor FullStack com foco em Back-End</p>
            </div>
            <div class="social-media">
                <div class="copy-container">
                    <a href="https://wa.me/5511976754965" target="_blank" (click)="toggleCopyPopup('whatsappIcon')">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                    <div class="copy-popup" [class.visible]="visiblePopup === 'whatsappIcon'">
                        {{whatsapp}}
                        <button class="copy-btn" (click)="copyPopup(whatsapp, 'whatsappIcon')">Copiar</button>
                        <span class="copied-feedback" [class.visible]="copiedKey === 'whatsappIcon'">Copiado!</span>
                    </div>
                </div>
                <div class="copy-container">
                    <a href="mailto:bruno.olvslv@gmail.com" (click)="toggleCopyPopup('email')">
                        <i class="fa-solid fa-envelope"></i>
                    </a>
                    <div class="copy-popup" [class.visible]="visiblePopup === 'email'">
                        {{email}}
                        <button class="copy-btn" (click)="copyPopup(email, 'email')">Copiar</button>
                        <span class="copied-feedback" [class.visible]="copiedKey === 'email'">Copiado!</span>
                    </div>
                </div>
                <a href="https://www.linkedin.com/in/bruno-olv/" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="https://github.com/BrunoOlv10" target="_blank">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
        </div>
        <div class="about-text">
            <div class="initial-text">
                <p>
                    Sou Desenvolvedor Full-Stack, com foco em <span>Back-End</span>. <span>Trabalho</span> com <span>desenvolvimento web</span>, <span>criação de sites</span>, <span>landing pages</span> e aplicações com back-end, como <span>banco de dados</span>, <span>telas de login</span> e mais. Também atuo com <span>extração</span> e <span>tratamento de dados</span>, coletando dados e entregando tudo de forma estruturada.
                </p>

                <div *ngIf="showFullText" class="full-text" @expandCollapse>
                    <p>
                        Tenho <span>experiência</span> em tecnologias como <span>.NET, C#, SQL Server, Python, Angular e TypeScript</span>. Atuei na empresa Trieduc - Avaliação Educacional, <span>desenvolvendo novas funcionalidades</span> e realizando a <span>manutenção</span> do sistema web voltado à preparação de estudantes para vestibulares.
                    </p>
                    <p>
                        Sou uma pessoa <span>dedicada</span> e <span>disposta a aprender</span>. Me <span>adapto</span> bem às <span>mudanças</span>, <span>gosto de resolver problemas</span> e acredito no valor do <span>trabalho em equipe</span>.
                    </p>
                    <p>
                        <span>Me formei em 2023</span> no curso técnico de <span>Análise e Desenvolvimento de Sistemas</span> pela ETEC e, <span>atualmente</span>, <span>cursando</span> na FAM a <span>graduação</span> na mesma área.
                    </p>
                </div>

                <button class="btn toggle-btn" (click)="toggleText()">
                    {{showFullText ? 'Mostrar menos' : 'Mostrar mais'}}
                </button>
            </div>

            <div class="buttons">
                <div class="copy-container">
                    <a href="https://wa.me/5511976754965" target="_blank" class="btn" (click)="toggleCopyPopup('whatsappButton')">
                        Contatar
                    </a>
                    <div class="copy-popup" [class.visible]="visiblePopup === 'whatsappButton'">
                        {{whatsapp}}
                        <button class="copy-btn" (click)="copyPopup(whatsapp, 'whatsappButton')">Copiar</button>
                        <span class="copied-feedback" [class.visible]="copiedKey === 'whatsappButton'">Copiado!</span>
                    </div>
                </div>
                <a href="CV_Bruno_Oliveira.pdf" target="_blank" class="btn">Baixar CV</a>
            </div>
        </div>
    </div>
</section>