@use '../../../styles/variables.scss' as var;

:host {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var.$color_mini_card_background;
    width: 100%;
    height: 40px;

    p {
        color: var.$color_secondary_text;
        transition: 0.5s;
        cursor: default;
    }

    p:hover {
        color: var.$color_primary_text;
    }
}

@media (max-width: 600px) {
    :host {
        p {
            font-size: 12px;
        }
    }
}