@use '../../../styles/variables.scss' as var;

:host {
    section {
        width: 1200px;
        margin-top: 150px;

        h1 {
            font-size: 70px;
            width: 700px;
            text-align: center;
            font-weight: bold;
            color: var.$color_secondary_text;
            margin: 0 auto;

            span {
                background: var.$gradient_main;
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                -webkit-text-fill-color: transparent;
            }
        }

         .content {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;

            .name-area {
                width: 410px;
        
                .name {
                    font-size: 50px;
                    font-weight: 500;
                }
            
                .cursor {
                    display: inline-block;
                    width: 10px;
                    color: var.$color_secondary_text;
                    animation: blink 0.8s infinite;
                }
            
                .area {
                    font-size: 30px;
                    color: var.$color_secondary_text;
                    width: 400px;
                    text-align: center;
                }
            }

            .photo {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                
                img {
                    width: 225px;
                    height: 225px;
                    border-radius: 50%;
                    background: var.$gradient_main border-box;
                    border: 7px solid transparent;
                }
            }

            .buttons {
                display: flex;
                justify-content: center;
                gap: 30px;
                margin-top: 350px;
                margin-left: -550px;
            }
        }
    
    }
}

@media (max-width: 600px) {
    :host {
        section {
            margin-top: 80px;

            h1 {
                font-size: 30px;
                width: 300px;
                margin-bottom: 30px;
            }

            .content {
                flex-direction: column;
            }

            .photo {
                order: 1;
                margin-bottom: 20px;

                img {
                    width: 150px !important;
                    height: 150px !important;
                }
            }

            .name-area {
                order: 2;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 5px;
                margin-bottom: 25px;

                .name {
                    font-size: 25px !important;
                }

                .area {
                    font-size: 15px !important;
                    width: 190px !important;
                }
            }

            .buttons {
                order: 3;
                row-gap: 20px !important;
                flex-wrap: wrap;
                width: 230px;
                margin-top: 0px !important;
                margin-left: 0px !important;
            }
        }
    }
}