<h1>Criando <span>soluções</span> que <span>impactam</span> vidas</h1>
<section class="content">
    <div>
        <p class="name">&lt;Bruno Oliveira /&gt;</p>
        <p class="area">Desenvolvedor Full-Stack com foco em Back-End</p>
    </div>

    <div class="photos-button">
        <img src="assets/images/bruno-oliveira-perfil.jpg" alt="Foto Perfil Bruno Oliveira">
        
        <div class="buttons">
            <button>
                <a href="#about">Contatar</a>
            </button>
            <button>
                <a href="#projects">Projetos</a>
            </button>
        </div>
    </div>
</section>