@use '../../../styles/variables.scss' as var;

:host {
    section {
        width: 1200px;
        margin-top: 150px;

        h1 {
            font-size: 70px;
            width: 700px;
            text-align: center;
            font-weight: bold;
            color: var.$color_secondary_text;
            margin: 0 auto 90px auto;

            span {
                background: var.$gradient_main;
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                -webkit-text-fill-color: transparent;
            }
        }

         .content {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;

            .name-area {
                width: 410px;
        
                .name {
                    font-size: 50px;
                    font-weight: 500;
                }
            
                .cursor {
                    display: inline-block;
                    width: 10px;
                    color: var.$color_secondary_text;
                    animation: blink 0.8s infinite;
                }
            
                .area {
                    font-size: 30px;
                    color: var.$color_secondary_text;
                    width: 400px;
                    text-align: center;
                }
            }
        }
    
        .photos-button {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            
            img {
                width: 225px;
                height: 225px;
                border-radius: 50%;
                background: var.$gradient_main border-box;
                border: 7px solid transparent;
            }
    
            .buttons {
                display: flex;
                gap: 30px;
            }
        }
    }

    @media (max-width: 600px) {
        section {
            width: 100%;
            margin-top: 80px;

            h1 {
                font-size: 30px;
                width: 300px;
                margin-bottom: 30px;
            }

            .content {
                flex-direction: column;
            }

            .photos-button {
                order: 2;
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    width: 120px;
                    height: 120px;
                }
            }

            .name-area {
                order: 3;
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-top: -200px;

                .name {
                    font-size: 25px !important;
                }

                .area {
                    font-size: 15px !important;
                    width: 190px !important;
                }
            }

            .photos-button .buttons {
                order: 4;
                margin-top: 150px;
            }
        }
    }
}