<section id="home">
    <h1>Criando <span>soluções</span> que <span>impactam</span> vidas</h1>
    <div class="content">
        <div class="name-area">
            <p class="name">
                <span>{{ displayedText }}</span><span class="cursor">|</span>
            </p>
            <p class="area">Desenvolvedor Full-Stack com foco em Back-End</p>
        </div>
        <div class="photo">
            <img src="assets/images/bruno-oliveira-perfil.jpg" alt="Foto Perfil Bruno Oliveira">
        </div>
        <div class="buttons">
            <a (click)="scrollToSection('projects')" class="btn">Projetos</a>
            <a (click)="scrollToSection('about')" class="btn">Contatar</a>
            <a (click)="scrollToSection('projects')" class="btn">Baixar CV</a>
        </div>
    </div>
</section>