$main-background: #1E1E1E;
$skills-background: rgba(217, 217, 217, 0.300);
$card-background: #2A2A2A;
$details-background: rgba(51, 51, 51, 0.950);
$mini-card-background: #333333;
$mini-card-detail-background: #444444;

$primary-gradient: #007CF0;
$secondary-gradient: #999999;

$primary-text: #FFFFFF;
$secondary-text: rgba(255, 255, 255, 0.700);