<h2>Projetos</h2>

<section class="project-cards">
    <button (click)="scrollLeft()" [disabled]="atStart"><i class="fa fa-arrow-left arrow"></i></button>

    <div class="cards" #cardsContainer>
        @for (project of projects; track project) {
            <div class="card">
                <header>
                    <h3>{{project.title}}</h3>
                </header>
                <div class="image-container">
                     <img [src]="project.image" [alt]="'Imagem Principal do Projeto ' + project.title">
                </div>
                <div class="technologys-container">
                    <div class="technologys-content">
                        @for (tech of project.technologies; track tech) {
                            <p class="technology">{{tech}}</p>
                        }
                    </div>
                </div>
                <div class="buttons">
                    <a class="btn" (click)="openProjectDetails(project)">
                        <i class="fa-solid fa-plus"></i>
                        Detalhes
                    </a>
                    <a [href]="project.accessUrl" class="btn">
                        <i class="fa-solid fa-link"></i>
                        Acessar
                    </a>
                </div>
            </div>
        }
    </div>

    <button (click)="scrollRight()" [disabled]="atEnd"><i class="fa fa-arrow-right arrow"></i></button>
</section>

@if (selectedProject) {
  <div class="modal-projects" @modalAnimation>
    <app-project-details
      [project]="selectedProject"
      (close)="closeProjectDetails()">
    </app-project-details>
  </div>
}