<h2>Projetos</h2>

<section class="project-cards">
    <div class="card">
        <header>
            <h3>Projeto 1</h3>
        </header>
        <div class="image-container">
            <img src="assets/projects/furia/tela-infos.png" alt="Foto Principal Projeto Furia">
        </div>
        <div class="technologys-container">
            <div class="technologys-content">
                <p class="technology">Angular</p>
                <p class="technology">TypeScript</p>
                <p class="technology">C#</p>
                <p class="technology">SQL Server</p>
            </div>
        </div>
        <div class="buttons">
            <a href="#" class="btn">Detalhes</a>
            <a href="#" class="btn">Acessar</a>
        </div>
    </div>
    <div class="card">
        <header>
            <h3>Projeto 1</h3>
        </header>
        <div class="image-container">
            <img src="assets/projects/furia/tela-infos.png" alt="Foto Principal Projeto Furia">
        </div>
        <div class="technologys-container">
            <div class="technologys-content">
                <p class="technology">Angular</p>
                <p class="technology">TypeScript</p>
                <p class="technology">C#</p>
                <p class="technology">SQL Server</p>
            </div>
        </div>
        <div class="buttons">
            <a href="#" class="btn">Detalhes</a>
            <a href="#" class="btn">Acessar</a>
        </div>
    </div>
    <div class="card">
        <header>
            <h3>Projeto 1</h3>
        </header>
        <div class="image-container">
            <img src="assets/projects/furia/tela-infos.png" alt="Foto Principal Projeto Furia">
        </div>
        <div class="technologys-container">
            <div class="technologys-content">
                <p class="technology">Angular</p>
                <p class="technology">TypeScript</p>
                <p class="technology">C#</p>
                <p class="technology">SQL Server</p>
            </div>
        </div>
        <div class="buttons">
            <a href="#" class="btn">Detalhes</a>
            <a href="#" class="btn">Acessar</a>
        </div>
    </div>
</section>