@use '../../../styles/variables.scss' as var;

:host {
    margin-bottom: 280px;

    .project-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        
        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 11px;
                border-radius: 50%;
                background-color: var.$color_blue;
                transition: 0.5s;

                .arrow {
                    font-size: 15px;
                }
            }

            button:hover {
                background-color: var.$color_blue_medium;
            }

            button:disabled {
                opacity: 0.7;
                cursor: not-allowed;
            }

            .cards {
                display: flex;
                gap: 50px;
                width: 650px;
                overflow: hidden;
            }
            
            .card, header, .image-container, img, .technologys-container, .buttons {
                width: 300px;
            }
        
            .header {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 5px;
                background: var.$gradient_main;
                padding: 25px;
                font-size: 18px;
                border-radius: 30px 30px 0 0;

                h3 {
                    text-align: center;
                }
            }

            .image-container {
                position: relative;
                height: 300px;
                overflow: hidden;
                background: var.$color_card_background;

                .image {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    object-fit: cover;
                    transform: translateX(0);
                }

                .image.animate {
                    animation: slide 0.6s ease;
                }
            }

            @keyframes slide {
                0% {
                    transform: translateX(100%);
                }
                100% {
                    transform: translateX(0);
                }
            }

            .technologys-container {
                display: flex;
                justify-content: center;
                align-items: center;
                background: var.$color_card_background;
                padding: 30px 10px;

                .technologys-content {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 15px;
        
                    .technology {
                        background: var.$color_blue;
                        text-align: center;
                        cursor: default;
                        font-size: 14px;
                        padding: 5px 10px;
                        border-radius: 30px;
                        white-space: nowrap;
                        transition: 0.5s;
                    }

                    .technology:hover {
                        background: var.$color_footer_strong;
                    }
                }
            }

            .buttons {
                display: flex;
                justify-content: center;
                gap: 20px;
                width: 100%;
                padding-bottom: 30px;
                background: var.$color_card_background;
                border-radius: 0 0 30px 30px;
            }
        }
    }

    .modal-projects {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var.$color_modal_image_background;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    }
}

@media (max-height: 650px) {
    :host {
        margin-bottom: 120px;

        .project-cards {
            .content {
                .cards {
                    .card {
                        .header {
                            font-size: 16px;
                            padding: 20px;
                        }

                        .image-container {
                            height: 250px;
                        }
                    }
                }

                .buttons {
                    margin-top: -5px;
                }
            }
        }

        .modal-image {
            .modal-image-container {
                .close-btn {
                    top: 10px;
                    right: 100px;
                }

                img {
                    height: 600px;
                    width: 850px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    :host {
        margin-bottom: 200px;
        overflow-y: hidden;

        .project-cards {
            gap: 0px;

            .content {
                gap: 20px;

                .cards {
                    width: 300px;

                    .card {
                        flex: 0 0 auto;
                    }
                    
                    .header {
                        display: flex;
                        justify-content: center;
                        padding: 20px;

                        h3 {
                            font-size: 25px;
                        }
                    }
            
                    .image-container {
                        height: 315px;
                    }

                    .technologys-container {
                        padding: 25px 15px;

                        .technologys-content {
                            row-gap: 10px;

                            .technology {
                                font-size: 12px;
                                padding: 5px 10px;
                                font-weight: 500;
                            }
                        }
                    }

                    .buttons {
                        align-items: center;
                        gap: 20px;
                        padding-bottom: 25px;
                    }
                }
            }
        }

        .modal-image {        
            .modal-image-container {            
                .close-btn {
                    top: 10px;
                    right: 100px;
                }
                
                img {
                    height: 600px;
                    width: 850px;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    :host {
        margin-bottom: 200px;
        overflow-y: hidden;

        .project-cards {
            gap: 25px;

            .content {
                gap: 15px;

                .cards {
                    width: 270px;

                    .card, header, .image-container, img, .technologys-container, .buttons {
                        width: 270px;
                    }

                    .card {
                        flex: 0 0 auto;
                    }
                    
                    .header {
                        display: flex;
                        justify-content: center;
                        padding: 20px;

                        h3 {
                            font-size: 20px;
                        }
                    }
            
                    .image-container {
                        height: 250px;
                    }

                    .technologys-container {
                        padding: 20px 15px;

                        .technologys-content {
                            row-gap: 10px;

                            .technology {
                                padding: 5px 10px;
                                font-weight: 500;
                            }
                        }
                    }

                    .buttons {
                        align-items: center;
                        flex-direction: column;
                        gap: 15px;
                        padding-bottom: 20px;
                    }
                }
            }
        }

        .modal-image {        
            .modal-image-container {            
                .close-btn {
                    top: 5px;
                    right: 25px;

                    i {
                        font-size: 17px;
                    }
                }
                
                img {
                    height: 400px;
                    width: 90%;
                    max-width: none;
                }
            }
        }
    }
}