<section id="projects" #projectsSection [@fadeSlideUp]="showElements ? 'visible' : 'static'" class="project-cards">
    <h2>Projetos</h2>
    <div class="content">
        <button (click)="scrollLeft()" [disabled]="atStart">
            <i class="fa fa-arrow-left arrow"></i>
        </button>
        <div class="cards" #cardsContainer>
            <div class="card" *ngFor="let project of projects; trackBy: trackProject">
                <div class="header">
                    <h3>{{project.title}}</h3>
                </div>
                <div class="image-container">
                    <img [src]="project.image" [alt]="'Imagem Principal do Projeto ' + project.title">
                </div>
                <div class="technologys-container">
                    <div class="technologys-content">
                        @for (tech of project.technologies; track tech) {
                            <p class="technology">{{tech}}</p>
                        }
                    </div>
                </div>
                <div class="buttons">
                    <a class="btn-project" (click)="openProjectDetails(project)">
                        <i class="fa-solid fa-plus"></i>
                        Detalhes
                    </a>
                    <a [href]="project.accessUrl" class="btn-project">
                        <i class="fa-solid fa-link"></i>
                        Acessar
                    </a>
                </div>
            </div>
        </div>
        <button (click)="scrollRight()" [disabled]="atEnd">
            <i class="fa fa-arrow-right arrow"></i>
        </button>
    </div>
</section>

@if (selectedProject) {
  <div class="modal-projects" @fadeInZoomUp>
    <app-project-details
      [project]="selectedProject"
      (close)="closeProjectDetails()">
    </app-project-details>
  </div>
}