<section id="services" #serviceSection [@fadeSlideUp]="showElements ? 'visible' : 'static'">
    <h2>Serviços</h2>
    <div class="services-container">
        @for(service of services; track service) {
            <div class="service">
                <div class="service-header">
                    <p>{{service.title}}</p>
                </div>
                <div class="service-description">
                    <p>{{service.description}}</p>
                </div>
            </div>
        }
    </div>
    <div class="copy-container">
        <a href="https://wa.me/5511976754965" target="_blank" class="btn" (click)="toggleCopyPopup('whatsappButton')">
            Contatar
        </a>
        <div class="copy-popup" [class.visible]="visiblePopup === 'whatsappButton'">
            {{whatsapp}}
            <button class="copy-btn" (click)="copyPopup(whatsapp, 'whatsappButton')">Copiar</button>
            <span class="copied-feedback" [class.visible]="copiedKey === 'whatsappButton'">Copiado!</span>
        </div>
    </div>
</section>