@use '../../../styles/variables.scss' as var;

:host {
    margin-bottom: 280px;

    section {
        display: flex;
        flex-direction: column;
        align-items: center;

        .services-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 60px;
            row-gap: 50px;
            width: 900px;
            margin-bottom: 40px;

            .service {
                width: 400px;

                .service-header {
                    display: flex;
                    justify-content: center;
                    background: var.$gradient_main;
                    border-radius: 30px 30px 0 0;
                    padding: 25px 30px;

                    p {
                        font-size: 18px;
                    }
                }

                .service-description {
                    background-color: var.$color_mini_card_background;
                    border-radius: 0 0 30px 30px;
                    padding: 25px;
                    text-align: center;

                    p {
                        color: var.$color_secondary_text;
                    }
                }
            }
        }

        .copy-container {
            position: relative;
    
            .copy-popup {
                display: flex;
                align-items: center;
                gap: 8px;
                position: absolute;
                visibility: hidden;
                opacity: 0;
                pointer-events: none;
                background-color: var.$color_mini_card_background;
                bottom: 100%;
                left: 50%;
                transform: translateX(-50%);
                font-size: 14px;
                border-radius: 5px;
                padding: 6px 4px 6px 10px;
                white-space: nowrap;
                max-width: none;
                transition: opacity 0.5s;
                z-index: 1;

                &.visible {
                    visibility: visible;
                    opacity: 1;
                    pointer-events: auto;
                }
    
                .copy-btn {
                    background: none;
                    border: 1px solid var.$color_primary_text;
                    font-size: 12px;
                    border-radius: 5px;
                    padding: 2px 6px;
                }
    
                .copy-btn:hover {
                    background: var.$color_button_hover;
                }
    
                .copied-feedback {
                    color: var.$color_copied_feedback_text;
                    opacity: 0;
                    max-width: 0;
                    font-size: 12px;
                    overflow: hidden;
                    transition: opacity 0.5s, max-width 0.5s;
                }

                .copied-feedback.visible {
                    opacity: 1;
                    max-width: 100px;
                    padding-right: 6px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    :host {
        margin-bottom: 200px;
        overflow-y: hidden;

        section {
            h2 {
                margin-bottom: 40px;
            }

            .services-container {
                gap: 35px;
                width: 400px;
                margin-bottom: 25px;

                .service {
                    width: 400px;

                    .service-header {
                        display: flex;
                        align-items: center;
                        min-height: 65px;
                        padding: 10px 20px;

                        p {
                            font-size: 17px;
                        }
                    }

                    .service-description {
                        padding: 20px;

                        p {
                            font-size: 15px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    :host {
        margin-bottom: 200px;
        overflow-y: hidden;

        section {
            h2 {
                margin-bottom: 20px;
            }

            .services-container {
                gap: 35px;
                width: 350px;
                margin-bottom: 25px;

                .service {
                    width: 250px;

                    .service-header {
                        min-height: 80px;
                        padding: 10px 20px;

                        p {
                            font-size: 18px;
                            text-align: center;
                        }
                    }

                    .service-description {
                        padding: 15px 20px 20px 20px;

                        p {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}