@use '../../../styles/variables.scss' as var;

:host {
    display: flex;
    align-items: center;
    width: 100%;
    background: var.$color_skills_background;
    padding: 10px 0;
    margin: 120px 0 280px 0;
    
    .icon-container {
        overflow: hidden;
        width: 100%;
        padding: 5px 0;
    }

    .icon-content {
        display: flex;
        gap: 30px;
        width: max-content;
        animation: scroll 60s linear infinite;
        will-change: transform;
    }
    
    i {
        font-size: 20px;
        background: var.$color_gray border-box;
        border: 1px solid transparent;
        border-radius: 50%;
        padding: 10px;
        transition: 0.5s;
    }

    i:hover {
        transform: scale(1.1);
        background: var.$color_secondary_text border-box;
    }

    @keyframes scroll {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-50%);
        }
    }
}

@media (max-height: 1000px) {
    :host {
        margin: 160px 0 120px 0;
    }
}

@media (max-height: 800px) {
    :host {
        margin: 100px 0 120px 0;
    }
}

@media (max-width: 1200px) and (max-height: 800px) {
    :host {
        margin: 30px 0 120px 0;
    }
}

@media (max-width: 600px) {
    :host {
        margin: 90px 0 200px 0;
        padding: 5px 0;

        .icon-container {
            .icon-content {
                i {
                    font-size: 15px;
                }
            }
        }
    }
}