@use 'styles/variables.scss' as var;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    color: var.$color_primary_text;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var.$color_main_background;
    padding-top: 50px;
}