@use 'styles/variables.scss' as var;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    color: var.$color_primary_text;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var.$color_main_background;
    padding-top: 50px;
}

section[id] {
  scroll-margin-top: 250px;
}

h2 {
    background: var.$gradient_main;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    margin-bottom: 40px;
}

button, a {
    cursor: pointer;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 50px;
    background: var.$gradient_main;
    border-radius: 20px;
    font-size: 18px;
    transition: 0.5s;
}

.btn-project {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: var.$gradient_main;
    width: 120px;
    height: 50px;
    padding: 15px;
    border-radius: 20px;
    transition: 0.5s;
}

.btn:hover, .btn-project:hover {
    transform: scale(1.1);
}

.dark-filter {
    filter: var.$filter_dark;
}

@media (max-width: 1200px) {
    .btn {
        width: 120px;
        height: 50px;
        font-size: 18px;
    }

    .btn-project {
        padding: 7px 10px;
        font-size: 15px;
        width: 115px;
        height: 45px;
    }

    .btn:hover, .btn-project:hover {
        transform: none;
    }
}

@media (max-width: 600px) {
    h2 {
        font-size: 35px;
        margin-bottom: 0;
    }

    .btn {
        width: 100px;
        height: 40px;
        font-size: 15px;
    }

    .btn-project {
        width: 120px;
        height: 40px;
    }

    .btn:hover, .btn-project:hover {
        transform: none;
    }
}