<section id="experience" #experienceSection [@fadeSlideUp]="showAnimation ? 'visible' : 'static'">
    <h2>Experiência Profissional</h2>
    <div class="experiences-container">
        @for (experience of experiences; track experience) {
            <div class="experience">
                <div class="experience-resume" [class.open-resume]="isOpen($index)">
                    <!-- <div class="experience-year" [class.open-year]="isOpen($index)">
                        <p><span>{{experience.year}}</span></p>
                    </div> -->
                    <div class="experience-datas-icon">
                        <div class="experience-datas">
                            <p class="role">{{experience.role}}</p>
                            <p class="company">{{experience.company}}</p>
                            <!-- <p>{{experience.durationText}} - <span>{{experience.durationQuantity}}</span></p> -->
                        </div>
                        @if (experience.description?.[0]?.trim()) {
                            <div class="button-control" (click)="toggleDescription($index)">
                                @if(!isOpen($index)) {
                                    <i class="fa-solid fa-angle-down"></i>
                                }
        
                                @if(isOpen($index)) {
                                    <i class="fa-solid fa-angle-up"></i>
                                }
                            </div>
                        }
                    </div>
                </div>
                @if(isOpen($index)) {
                    <div class="experience-description" @expandCollapse>
                        @for (item of experience.description; let last = $last; track item) {
                            <p>- {{item}}{{last ? '.' : ';'}}</p>
                        }
                    </div>
                }
            </div>
        }
    </div>
</section>
