@use '../../../styles/variables.scss' as var;

:host {
    margin-bottom: 100px;

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .experiences-container {
            min-height: 235px;

            .experience {
                width: 465px;

                .experience-resume {
                    display: flex;
                    gap: 15px;
                    background-color: var.$color_mini_card_background;
                    border-radius: 20px;
    
                    .experience-year {
                        display: flex;
                        align-items: center;
                        background-color: var.$color_mini_card_detail_background;
                        border-radius: 20px 0 0 20px;
                        padding: 30px 10px;
                    }

                    .experience-year.open-year {
                        border-radius: 20px 0 0;
                    }

                    .experience-datas-icon {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        padding: 10px 20px 10px 0;

                        .experience-datas {
                            display: flex;
                            flex-direction: column;
                            gap: 5px;
    
                            p {
                                color: var.$color_secondary_text;
                                font-weight: bold;
                            }
    
                            .role {
                                background: var.$gradient_main;
                                background-clip: text;
                                -webkit-background-clip: text;
                                color: transparent;
                                -webkit-text-fill-color: transparent;
                            }
                        }

                        .button-control {
                            cursor: pointer;
                        }
                    }

                    span {
                        color: var.$color_primary_text;
                        font-weight: normal;
                    }
                }

                .experience-resume.open-resume {
                    border-radius: 20px 20px 0 0;
                }
    
                .experience-description {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    background-color: var.$color_mini_card_background;
                    border-radius: 0 0 20px 20px;
                    padding: 20px 25px;
                    transition: 0.5s;
                    
                    p {
                        color: var.$color_secondary_text;
                    }
                }
            }
        }
    }
}
