<section id="experience" #experienceSection [@fadeSlideUp]="showElements ? 'visible' : 'hidden'">
    <h2>Experiência Profissional</h2>
    <div class="experiences-container">
        @for (experience of experiences; track experience) {
            <div class="experience">
                <div class="experience-resume" [class.open-resume]="isOpen">
                    <div class="experience-year" [class.open-year]="isOpen">
                        <p><span>{{experience.year}}</span></p>
                    </div>
                    <div class="experience-datas-icon">
                        <div class="experience-datas">
                            <p class="role">{{experience.role}}</p>
                            <p>{{experience.company}}</p>
                            <p>{{experience.durationText}} - <span>{{experience.durationQuantity}}</span></p>
                        </div>
                        <div class="button-control" (click)="toggleDescription()">
                            @if(!isOpen) {
                                <i class="fa-solid fa-angle-down"></i>
                            }
    
                            @if(isOpen) {
                                <i class="fa-solid fa-angle-up"></i>
                            }
                        </div>
                    </div>
                </div>
                @if(isOpen) {
                    <div class="experience-description" @expandCollapse>
                        @for (item of experience.description; track item) {
                            <p>- {{item}};</p>
                        }
                    </div>
                }
            </div>
        }
    </div>
</section>
